<div>
  <% if(review.author) %>
  <p><strong>Written by: </strong><%= review.author %> on <%= review.created_at %></p>
  <p><strong>Rating: </strong><%= review.rating %></p>
  <p><strong>Comment: </strong><%= review.comments %></p>
  <% end %>
</div>
